body
{
color:                      black;
background-image:           url(bilder/bilder.gross/hintergrund.jpg);
background-attachment:      fixed         ;

}

#logo
{
float:                      right;


}

#seitenleiste
{
}
#top
{
border:                    30px;
border-color:              white;
border-width:              5px;
border-style:              solid;
border-radius:             25px;
margin:                    0px 80px 20px 80px;
padding:                   30px 20px 30px 40px;
background-image:          url(bilder/bilder.gross/universum.3.jpg);

}

#copyright
{
  text-align:             center;
  padding:                20px;
  margin:                 10px 330px 10px 330px;
  font-size:              90%;
  clear:                  right;
  z-index:			          80;
  color:                  white;
}

#haupttext
{
border-width:            3px;
border-style:            solid;
margin:                  50px 80px 10px 80px;
padding:                 30px;
border-color:            #C2C0C6;
background-color:        #C2C0C6;
border-radius: 25px;
}
